@media only screen and (min-width:1200px){#bop-project-info-small{display:none;}
}
@media only screen and (min-width:960px) and (max-width:1199px){.bop-project-wrapper .bop-project-left{width:100%;}
#bop-project-right{display:none;}
#bop-all-wrapper .bop-project-area .bop-project-wrapper{max-width:724px;float:none;}
#bop-project-info-small{display:none;}
.bop-project-left .bop-left-project-header{border-radius:5px 5px 0 0;}
}
@media only screen and (min-width:768px) and (max-width:959px){#bop-all-wrapper .bop-project-area .bop-project-wrapper{max-width:724px;float:none;}
#bop-project-info-small{display:none;}
.bop-project-left .bop-left-project-header{border-radius:5px 5px 0 0;}
.bop-project-wrapper .bop-project-left{width:100%;}
#bop-project-right{display:none;}
}
@media only screen and (min-width:480px) and (max-width:767px){#bop-all-wrapper .bop-project-area .bop-project-wrapper{max-width:480px;float:none;}
#bop-project-info-small{display:block;max-width:386px;}
.bop-project-left .bop-left-project-header{display:none;}
.bop-project-wrapper .bop-project-left{width:386px;}
#bop-project-right{display:none;}
.bop-project-info-small-left{width:100%;border-right:0px;max-width:364px;}
#bop-project-info-small h2{font-size:20px;}
#bop-project-info-small h5{font-size:12px;}
.bop-primary-project-content div{line-height:9px !important;}
.bop-text-center iframe{width:300px;height:192px;margin-top:-40px !important;}
}
@media only screen and (min-width:320px) and (max-width:479px){#bop-all-wrapper .bop-project-area .bop-project-wrapper{max-width:480px;float:none;}
#bop-project-info-small{display:block;max-width:240px;}
.bop-project-left .bop-left-project-header{display:none;}
.bop-project-wrapper .bop-project-left{width:237px;}
#bop-project-right{display:none;}
.bop-project-info-small-left{width:100%;border-right:0px;max-width:217px;}
#bop-project-info-small h2{font-size:14px;}
#bop-project-info-small h5{font-size:12px;}
.bop-primary-project-content div{line-height:5px !important;}
.bop-text-center iframe{width:170px;height:122px;margin-top:-50px !important;}
#bop-all-wrapper{max-width:238px;}
}