#bop-all-wrapper{position:relative;float:left;width:100%;max-width:1200px;}
#bop-all-wrapper .bop-project-area{width:100%;margin-left:auto;margin-right:auto;max-width:990px;}
#bop-all-wrapper .bop-project-area .bop-project-wrapper{max-width:990px;margin-left:auto;margin-right:auto;width:100%;border-radius:5px;margin-top:60px;margin-bottom:60px;float:left;background:#f8f8f8;}
.bop-project-wrapper .bop-project-left{-moz-box-shadow:2px 0px 6px 0px rgba(0, 0, 0, 0.1);-webkit-box-shadow:2px 0px 6px 0px rgba(0, 0, 0, 0.1);box-shadow:2px 0px 6px 0px rgba(0, 0, 0, 0.1);position:relative;width:73.1313%;float:left;max-width:724px;}
.bop-project-left .bop-left-project-header{padding:6px 24px;color:#ffffff !important;background:#2e2e2e;background:-moz-linear-gradient(top, #2e2e2e 0%, #3c3c3c 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2e2e), color-stop(100%,#3c3c3c));background:-webkit-linear-gradient(top, #2e2e2e 0%,#3c3c3c 100%);background:-o-linear-gradient(top, #2e2e2e 0%,#3c3c3c 100%);background:-ms-linear-gradient(top, #2e2e2e 0%,#3c3c3c 100%);background:linear-gradient(to bottom, #2e2e2e 0%,#3c3c3c 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#3c3c3c',GradientType=0);border-radius:5px 0 0 0;}
.bop-left-project-header .bop-header-title{margin-top:7px !important;color:#ffffff !important;font-size:20px !important;line-height:23px !important;margin-bottom:7px !important;font-weight:bold !important;}
.bop-left-project-header h5{color:#ffffff !important;font-weight:normal !important;}
.bop-primary-project-content img, .bop-primary-project-content object, .bop-primary-project-content embed{display:block;margin:0px auto;}
.bop-primary-project-content .spacer{margin:0 auto;width:600px;}
.bop-primary-project-content .divider{margin:0 auto;position:relative;}
.bop-primary-project-content .bop-text-center{max-width:600px;width:100% !important;margin:0px auto;}
.bop-project-wrapper #bop-project-right{background:#f8f8f8;border-left:1px solid #ECECEC;width:25.9%;float:right;padding:4px;max-width:266px;border-radius:0 5px 5px 0;}
.bop-project-wrapper .bop-project-right{padding:20px;padding:5px 16px;border-bottom:1px dotted #c1c1c1;color:#333333;float:left;width:100%;max-width:214px;}
#bop-project-right h5{border:0 none;box-shadow:none;padding:15px 7px 1px 0;color:#797979
cursor:default;font-family:Arial,sans-serif;font-size:10px;font-weight:bold;line-height:16px;left:21px;text-transform:uppercase;top:0px;margin:0px auto;}
#bop-project-right h6{font-family:'Open Sans', sans-serif !important;font-weight:normal !important;}
#bop-project-right p{font-family:'Open Sans', sans-serif !important;font-weight:normal !important;font-size:12px;font-style:normal;}
#bop-project-right #bop-project-info-right{}
#bop-project-right #bop-project-about-right{}
#bop-project-right #bop-project-stats{}
#bop-project-right .stats-left{width:60%;text-align:left;float:left;}
#bop-project-right .stats-right{width:40%;text-align:right;float:right;}
.stats-right h6{font-size:15px;font-weight:bold;}
#bop-project-right .bop-tags{background:#f2f2f2;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fbfbfb),to(#e9e9e9));background:-webkit-linear-gradient(0% 0%,0% 100%,from(#fbfbfb),to(#e9e9e9));background:-moz-linear-gradient(center top,#fbfbfb,#e9e9e9);background:linear-gradient(#fbfbfb,#e9e9e9);box-shadow:inset 0 1px 0 #fff;border-radius:3px;margin:0 7px 7px 0;border:1px solid #c7c7c7;float:left;padding:3px 9px 4px;color:#232323;cursor:pointer;text-transform:lowercase;-moz-user-select:none;-webkit-user-select:none;text-decoration:none;padding:3px 9px 4px;display:block;font-size:12px;}
#bop-project-info-small{margin:0;width:100%;position:relative;float:left;top:0;left:0;background:#ffffff;background:-moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));background:-webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%);background:-o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%);background:-ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%);background:linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0);border-bottom:1px solid #dbdbdb;display:block;float:left;}
.bop-project-info-small-left{width:60%;float:left;border-right:1px solid #dbdbdb;padding:14px 10px;}
.bop-project-info-small-right{width:28%;float:left;padding:14px 10px;}
#bop-project-info-small h2{color:#2c2c2c;}
#bop-project-info-small h5{color:#727272;}
.bop-project-info-small-stats{font-weight:bold !important;}
.bop-primary-project-content div{line-height:17px;}
.bop-project-left .bop-left-project-header{padding:20px 24px;}
.bop-project-wrapper{-moz-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.1);box-shadow:0px 4px 10px rgba(0, 0, 0, 0.1);}
#bop-project-right p{line-height:20px;}